.caption {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  color: var(--white);
  display: none;
}
.theCoreValues {
  margin: 0;
}
.description,
.title {
  align-self: stretch;
  position: relative;
}
.title {
  margin: 0;
  font-size: var(--desktop-heading-1-size);
  line-height: 60px;
  font-weight: 400;
  font-family: var(--desktop-heading-1);
}
.description {
  font-size: var(--desktop-paragraph-1-size);
  line-height: 32px;
  font-family: var(--desktop-paragraph-1);
}
.letsConnect {
  position: relative;
  font-size: var(--desktop-button-1-size);
  line-height: 24px;
  display: inline-block;
  font-family: var(--desktop-button-1);
  color: var(--white);
  text-align: center;
  min-width: 101px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--gradients);
  border-radius: var(--br-11xl);
  background: linear-gradient(90.07deg, #582ffb, #ae4e05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.textBlockH1p1 {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-3xs);
  min-width: 360px;
}
.list1Parent,
.textBlockH1p1,
.textBlockH1p1Parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.list1Parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 360px;
}
.textBlockH1p1Parent {
  width: 1100px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-4xl);
}
.frameParent {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-71xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-68xl);
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
  margin-top: -1px;
  text-align: left;
  font-size: var(--desktop-button-1-size);
  color: var(--black);
  font-family: var(--desktop-button-1);
}
@media screen and (max-width: 1150px) {
  .frameParent {
    gap: var(--gap-24xl);
    padding: var(--padding-91xl) var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .title {
    font-size: var(--font-size-19xl);
    line-height: 48px;
  }
  .frameParent {
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: var(--gap-3xl);
    padding: var(--padding-61xl) var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-10xl);
    line-height: 36px;
  }
  .description {
    font-size: var(--desktop-button-1-size);
    line-height: 26px;
  }
  .list1Parent,
  .textBlockH1p1 {
    min-width: 100%;
  }
  .frameParent {
    padding: var(--padding-41xl) var(--padding-base);
    box-sizing: border-box;
  }
}
