.distanceWrapper {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-151xl);
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 7;
  margin-top: -1px;
  text-align: left;
  font-size: var(--desktop-button-1-size);
  color: var(--black);
  font-family: var(--desktop-button-1);
}
@media screen and (max-width: 1150px) {
  .distanceWrapper {
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .distanceWrapper {
    padding: var(--padding-61xl) var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .distanceWrapper {
    padding: var(--padding-41xl) var(--padding-base);
    box-sizing: border-box;
  }
}
