@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --desktop-paragraph-1: "Noto Sans";
  --desktop-heading-1: "DM Serif Display";
  --desktop-button-1: "IBM Plex Sans";
  --font-gothic-a1: "Gothic A1";
  --font-pacifico: Pacifico;
  --font-inter: Inter;
  --font-source-sans-pro: "Source Sans Pro";

  /* font sizes */
  --font-size-lg: 18px;
  --desktop-paragraph-1-size: 20px;
  --desktop-button-1-size: 16px;
  --font-size-xl-1: 20.1px;
  --desktop-heading-1-size: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-9xl-3: 28.3px;
  --font-size-4xl: 23px;
  --font-size-21xl-6: 40.6px;
  --font-size-13xl: 32px;
  --desktop-heading-2-size: 24px;
  --font-size-base-1: 16.1px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-11xl: 30px;
  --font-size-lgi: 19px;
  --font-size-smi-6: 12.6px;
  --font-size-mini: 15px;
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --desktop-display-1-size: 80px;
  --font-size-21xl: 40px;

  /* Colors */
  --white: #fff;
  --black: #000;
  --portfolio-almacircle: #175cd3;
  --color-darkslategray-100: #333;
  --color-darkslategray-200: rgba(66, 80, 102, 0.4);
  --color-mediumseagreen-100: #2e964b;
  --color-mediumseagreen-200: #00a651;
  --portfolio-moc: #fece39;
  --color-gold-100: #ffcb08;
  --color-red-100: #ff3232;
  --color-red-200: #ed1c24;
  --color-gainsboro: #e6e6e6;
  --portfolio-agency-maison: #b54f3e;
  --color-gray-100: #292929;
  --color-gray-200: rgba(0, 0, 0, 0.4);
  --link-blue: #0065ff;
  --color-dodgerblue: #268cff;
  --grey-background: #f6f6f6;

  /* Gaps */
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-21xl: 40px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-12xs-9: 0.9px;
  --gap-0: 0px;
  --gap-5xl: 24px;
  --gap-smi-5: 12.5px;
  --gap-xs: 12px;
  --gap-33xl: 52px;
  --gap-6xl: 25px;
  --gap-7xs: 6px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-81xl: 100px;
  --gap-151xl: 170px;
  --gap-65xl: 84px;
  --gap-2xl: 21px;
  --gap-23xl: 42px;
  --gap-12xs: 1px;
  --gap-base: 16px;
  --gap-6xs-7: 6.7px;
  --gap-3xl: 22px;
  --gap-8xs-5: 4.5px;
  --gap-51xl: 70px;
  --gap-41xl: 60px;
  --gap-68xl: 87px;
  --gap-24xl: 43px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-7xs: 6px;
  --padding-base: 16px;
  --padding-41xl: 60px;
  --padding-7xl: 26px;
  --padding-61xl: 80px;
  --padding-31xl: 50px;
  --padding-13xl: 32px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-lgi-1: 19.1px;
  --padding-12xs-1: 0.1px;
  --padding-5xl: 24px;
  --padding-10xs-7: 2.7px;
  --padding-71xl: 90px;
  --padding-91xl: 110px;
  --padding-xs: 12px;
  --padding-49xl: 68px;
  --padding-3xs-5: 9.5px;
  --padding-48xl: 67px;
  --padding-40xl: 59px;
  --padding-12xs: 1px;
  --padding-mid: 17px;
  --padding-5xs: 8px;
  --padding-lgi: 19px;
  --padding-sm: 14px;
  --padding-361xl: 380px;
  --padding-1441xl: 1460px;
  --padding-151xl: 170px;
  --padding-66xl: 85px;
  --padding-33xl: 52px;
  --padding-11xs: 2px;
  --padding-4xs: 9px;
  --padding-297xl: 316px;
  --padding-139xl: 158px;
  --padding-2xs: 11px;
  --padding-mini: 15px;
  --padding-51xl: 70px;
  --padding-153xl: 172px;
  --padding-67xl: 86px;
  --padding-10xs-8: 2.8px;
  --padding-39xl: 58px;
  --padding-8xs-9: 4.9px;
  --padding-16xl: 35px;
  --padding-16xl-9: 35.9px;
  --padding-8xl: 27px;
  --padding-17xl: 36px;
  --padding-2xl: 21px;
  --padding-5xs-1: 7.1px;
  --padding-5xs-2: 7.2px;
  --padding-9xs: 4px;
  --padding-2xs-7: 10.7px;
  --padding-8xs-8: 4.8px;
  --padding-8xs-7: 4.7px;
  --padding-54xl: 73px;
  --padding-10xs: 3px;
  --padding-25xl: 44px;
  --padding-89xl: 108px;
  --padding-lg: 18px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-111xl: 130px;
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-7xs-4: 5.4px;
}
